@tailwind base;
@tailwind components;
@tailwind utilities;

.group:hover .group-hover\:scale-110 {
  transform: scale(1.1);
}

.group:hover .group-hover\:bg-opacity-30 {
  --tw-bg-opacity: 0.3;
}

.group:hover .group-hover\:bg-opacity-20 {
  --tw-bg-opacity: 0.2;
}